.frame-notice{
    width: 30rem;
    min-height: 40rem;
    /* border: 1px solid #666; */
}
.null-notice{
    width: 30rem;
    height: 5rem;
}
.null-notice-bottom{
    width: 30rem;
    height: 20rem;
}
.notice-title{
    box-sizing: border-box;
    width: 30rem;
    padding: 1rem;
    height: 1.5rem;
    background-color: transparent;
    outline: none;
    resize: none;
    outline: none;
    overflow: hidden;
    font-size: 1.2rem;
    line-height: 1.6rem;
}
.notice-title-div{
    font-size: 1.2rem;
    line-height: 1.6rem;
    position:absolute;
    z-index: -1;
    box-sizing: border-box;
    width: 30rem;
    padding: 1rem;
    min-height: 58px;
    background: #505050;
    height: auto;
    overflow: hidden;
    left: -100%;
    color: transparent;
    user-select: none;
    background-color: transparent; 
}
.notice-title:nth-child(1){
    height: 5rem;
    font-size: 2rem;
    letter-spacing:normal;
    /* background-color: black; */
    background-color: transparent;
}