.frame-notice{
    width: 30rem;
    min-height: 40rem;
    /* border: 1px solid #666; */
}
.null-notice{
    width: 30rem;
    height: 5rem;
}
.null-notice-bottom{
    width: 30rem;
    height: 20rem;
}
.notice-item{
    box-sizing: border-box;
    width: 30rem;
    padding: 1rem;
    height: 1.5rem;
    background-color: transparent;
    outline: none;
    resize: none;
    outline: none;
    overflow: hidden;
    font-size: 1.2rem;
    line-height: 1.6rem;
}.frame-textItem{
    width: calc(30rem + 5rem);
    display: grid;
    grid-template-columns: 30rem 5rem;
}
.notice-title-div{
    font-size: 1.2rem;
    line-height: 1.6rem;
    position:absolute;
    z-index: -1;
    box-sizing: border-box;
    width: 30rem;
    padding: 1rem;
    min-height: 58px;
    height: auto;
    overflow: hidden;
    left: -100%;
    /* left: 50%; */
    color: transparent;
    user-select: none;
    background-color: transparent; 
}
.notice-title{
    height: 5rem;
    font-size: 1.8rem;
    letter-spacing:normal;
    background-color: transparent;
    outline: none;
    width: 120%;
}
.frame-item-option{
    height: 58px;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 1rem;
}
.frame-img-option{
    height: 58px;
    display: flex;
    align-items: flex-start;
    margin-left: 1rem;
}
.item-option{
    font-size: 2rem;
}
.item-option:hover{
    background-color: rgba(145, 145, 145, 0.26);
    cursor: pointer;
    border-radius: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    user-select: none;
}

.optionbutton{
    width: 8rem;
    box-shadow: 5px 5px 20px rgba(158, 158, 158, 0.103);
    border-radius: 6px;
    user-select: none;
    color: #cecece;
    position: absolute;
    font-size: 0.9rem;
    cursor: pointer;
    overflow: hidden;
}

.optionbutton-item{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.7rem;
    justify-content: space-between;
    font-size: 0.8rem;
    border-bottom:1px solid rgb(131, 131, 131);
}

.optionbutton-item:last-child{
    border-bottom:none
}
.optionbutton-item:hover{
    background-color: #cccccc62;
}
.trash{
    font-size:1.4rem;
    font-weight: lighter;
}

.frame-noticeSaveButton{
    user-select: none;
    position: absolute;
    top:50%;
    right: 10%;
    width: 40px;
    height: 150px;
    position: fixed;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 36px #6464641c;
    background: linear-gradient(161deg, rgb(66, 66, 66), rgb(75, 75, 75));
}.frame-noticeSaveButtonSaveVer{
    display: none;
}
.saveButton{
    border-radius: 100%;
    /* background-color: rgba(124, 124, 124, 0.5); */
    padding: 3px;
}
.saveButton:hover{
    background-color: rgba(124, 124, 124, 0.5);
}

@media (max-width: 860px) {
    .frame-noticeSaveButton{
        display: none
    }.frame-noticeSaveButtonSaveVer{
        user-select: none;
        position: absolute;
        bottom:10%;
        right: 10%;
        width: 100px;
        height: 40px;
        position: fixed;
        padding: 10px;
        text-align: center;
        border-radius: 6px;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-shadow: 2px 2px 36px #6464641c;
        background: linear-gradient(161deg, rgb(66, 66, 66), rgb(75, 75, 75));
    }
}